*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.card{
    text-align: center;
    margin: 0 auto;
    max-width: 348px;
    margin-top: 10px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 1);
    transition: 0.5s;
    font-size: 0;
}
.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.calc-head #result{
    width: 338px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;

}
.calc-body{

}
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #1f2326;
    color: aliceblue;
}
.btn-style{
    background-color: bisque;
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;

}
.btn-style1{
    background-color: rgb(6, 202, 202);
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    background-color: pink;
}
.btn-style:hover{
    background-color: cadetblue;
}
.btn-style1:hover{
    background-color: brown;
}